.transition(...) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.border-radius(@radius: 4px) {
    -webkit-border-radius: @arguments;
    -moz-border-radius: @arguments;
    -ms-border-radius: @arguments;
    -o-border-radius: @arguments;
    border-radius: @arguments;
}

.box-shadow(...) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}

.opacity(@opacity) {
    @ieopacity: @opacity * 100;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{ieopacity})";
    /* IE 5-7 */
    filter: ~"alpha(opacity=@{ieopacity})";

    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    -o-opacity: @opacity;
    opacity: @opacity;
}
